In [1]:
import pandas as pd
import numpy as np

from pandas_datareader.data import DataReader
from datetime import datetime

import matplotlib.pyplot as plt

# get preprocessed data

In [3]:
data_sentim_ana = pd.read_csv('2.amazon_data_dates_sentiment_analysis.csv')
data_sentim_ana

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,Dtime,date,cleaned_text,Subjuctivity,Polarity,Class_sentiment_negative,Class_sentiment_neutral,Class_sentiment_positive
0,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,2015-01-01 01:01:50,2015-01-01,sp stocks performance hd low sbux tgt dvn ibm ...,0.300000,0.000000,0,1,0
1,550447850857828352,JorelLaraKalel,1420071969,Top 10 searched #stocks of #2014 $AAPL $FB $BA...,0,0,2,2015-01-01 01:26:09,2015-01-01,top searched stocks aapl fb baba tsla bac go...,0.500000,0.500000,0,0,1
2,550453172096217088,jakubhajost,1420073237,RT @SeekingAlpha: A Look At BlackBerry's Deals...,0,0,0,2015-01-01 01:47:17,2015-01-01,rt look blackberrys deals acquisitions amzn bbry,0.000000,0.000000,0,1,0
3,550453624258965505,WSJ,1420073345,Jeff Bezos lost $7.4 billion in Amazon's worst...,21,139,57,2015-01-01 01:49:05,2015-01-01,jeff bezos lost billion amazons worst year si...,1.000000,-1.000000,1,0,0
4,550453897714995200,GillesKLEIN,1420073410,Jeff Bezos lost $7.4 billion in #Amazon worst ...,1,2,1,2015-01-01 01:50:10,2015-01-01,jeff bezos lost billion amazon worst year sin...,1.000000,-1.000000,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718710,1212154334600818689,thequ4nt,1577835088,"[Yahoo Finance Video - December 31, 2019] $AMZ...",0,1,1,2020-01-01 00:31:28,2020-01-01,yahoo finance video december amzn znga amazo...,0.500000,0.500000,0,0,1
718711,1212155226377117697,DentonBlackwell,1577835301,@Ryzenn $AAPL has to have a lights out ER to k...,0,0,1,2020-01-01 00:35:01,2020-01-01,aapl lights er keep current levels retrace co...,0.450000,0.100000,0,0,1
718712,1212156775178416128,ITRADEVOL,1577835670,Is there a public database or website where I ...,0,0,2,2020-01-01 00:41:10,2020-01-01,public database website query stocks like amzn...,0.403175,0.142857,0,0,1
718713,1212157343351238656,naashonomics,1577835806,$FB $AMZN $GOOGL $NFLX #FANG 2019,0,0,0,2020-01-01 00:43:26,2020-01-01,fb amzn googl nflx fang,0.000000,0.000000,0,1,0
718714,1212157688089591808,NaN,1577835888,When you compare the losses of a public corpor...,0,0,2,2020-01-01 00:44:48,2020-01-01,compare losses public corporation losses short...,0.133333,0.100000,0,0,1

# calculate the sum of feature like, comment, retweet

In [4]:
tl0 = data_sentim_ana['like_num'][data_sentim_ana['date']==data_sentim_ana.date[93]].sum() # date 01-01-2015 starts
tl1 = data_sentim_ana['like_num'][data_sentim_ana['date']==data_sentim_ana.date[94]].sum() # date 02-01-2015 starts
tl0,tl1

(190, 190)

In [5]:
data_smedia_sum = data_sentim_ana.groupby(data_sentim_ana.date).sum()
data_smedia_sum.head()

,tweet_id,post_date,comment_num,retweet_num,like_num,Subjuctivity,Polarity,Class_sentiment_negative,Class_sentiment_neutral,Class_sentiment_positive
date,,,,,,,,,,
2015-01-01,7.102568e+19,183193554413,45,699,190,59.508095,-37.266429,55,59,15
2015-01-02,9.312153e+19,240015013196,10,371,88,44.106540,3.825316,35,89,45
2015-01-03,3.859312e+19,99419765892,3,11,52,12.579978,3.455700,10,45,15
2015-01-04,4.579198e+19,117890962207,3,24,43,16.978333,4.842500,8,58,17
2015-01-05,1.540317e+20,396308980682,14,53,130,56.148954,22.619850,22,186,71

#### calculate the total number of tweetts per day then sum it with the sum of re tweet for that day

In [7]:
twt_ct_per_day = data_sentim_ana.date.groupby(data_sentim_ana.date).count()
twt_ct_per_day.values

array([129, 169,  70, ..., 516, 481,   6], dtype=int64)

In [8]:
data_smedia_sum['tweet_count'] = twt_ct_per_day.values
data_smedia_sum

,tweet_id,post_date,comment_num,retweet_num,like_num,Subjuctivity,Polarity,Class_sentiment_negative,Class_sentiment_neutral,Class_sentiment_positive,tweet_count
date,,,,,,,,,,,
2015-01-01,7.102568e+19,183193554413,45,699,190,59.508095,-37.266429,55,59,15,129
2015-01-02,9.312153e+19,240015013196,10,371,88,44.106540,3.825316,35,89,45,169
2015-01-03,3.859312e+19,99419765892,3,11,52,12.579978,3.455700,10,45,15,70
2015-01-04,4.579198e+19,117890962207,3,24,43,16.978333,4.842500,8,58,17,83
2015-01-05,1.540317e+20,396308980682,14,53,130,56.148954,22.619850,22,186,71,279
...,...,...,...,...,...,...,...,...,...,...,...
2019-12-28,2.349124e+20,306041457501,144,503,1393,65.543312,21.729725,27,82,85,194
2019-12-29,1.841121e+20,239798650116,62,293,580,50.266318,18.140458,13,56,83,152
2019-12-30,6.252208e+20,814103099561,142,255,1334,168.356250,57.430292,62,211,243,516
2019-12-31,5.829812e+20,758923174515,160,234,1037,159.315592,51.076145,79,181,221,481
2020-01-01,7.272935e+18,9467012719,0,1,6,1.486508,0.842857,0,2,4,6

In [9]:
total = []
count = 0
for i in data_smedia_sum.index:
        total.append(data_smedia_sum['tweet_count'][i] + data_smedia_sum['retweet_num'][i])
        print(data_smedia_sum['tweet_count'][i] + data_smedia_sum['retweet_num'][i])

828
540
81
107
332
273
235
253
220
73
54
306
585
370
325
393
112
80
153
311
764
617
499
146
106
301
297
365
1977
1891
233
223
436
640
401
458
218
172
94
217
227
245
210
238
113
183
207
168
238
331
311
121
121
308
190
353
302
422
110
104
267
290
345
347
361
148
76
292
217
281
229
219
247
96
287
279
263
766
645
172
112
167
341
294
375
339
17
108
259
402
342
327
157
104
1099
217
190
313
388
367
160
115
269
336
331
284
390
133
184
673
348
436
2553
2508
634
267
559
450
327
304
303
79
10
283
388
412
325
330
166
151
309
246
246
303
347
365
285
377
306
487
594
451
243
124
316
507
381
474
427
416
247
400
396
566
388
368
96
175
447
480
444
593
372
71
207
454
618
477
588
481
304
254
522
663
498
539
410
331
358
402
621
438
174
297
278
106
281
488
197
186
391
385
296
652
800
1100
831
1034
187
211
862
544
529
4532
3544
533
247
580
630
782
704
494
375
309
657
324
387
490
575
150
238
292
332
327
385
451
390
266
658
503
409
308
453
132
99
414
474
843
744
186
264
441
380
469
338
333
430
88
48
70
445
597
334
453
124
77
210
275
309
779
563
370
289
313
405
458
418
552
232
353
596
571
398
393
625
126
138
448
395
562
767
457
109
66
424
270
791
769
602
161
320
532
553
450
2431
2013
424
316
473
560
679
574
613
186
146
564
511
732
797
616
250
154
397
449
867
612
531
160
84
716
497
696
526
515
182
179
568
609
538
300
404
248
236
926
727
637
524
397
155
216
407
490
498
1343
564
175
190
375
476
345
465
631
161
167
516
425
545
368
169
166
164
830
1353
618
653
161
204
349
1072
714
721
764
72
221
151
418
424
941
763
703
228
165
286
450
569
451
414
130
273
486
541
566
3553
2069
409
292
482
697
880
619
1009
317
167
581
665
775
699
455
278
163
229
523
567
831
696
298
160
623
515
543
482
850
202
129
585
476
540
529
491
212
236
678
496
695
597
911
139
172
476
568
444
780
433
162
144
879
654
710
568
228
147
198
501
615
596
559
416
106
168
553
480
935
630
512
104
213
402
467
823
613
469
222
161
1094
675
550
733
543
276
218
1449
522
661
2907
1876
505
271
924
582
626
649
210
213
203
467
1400
1869
1142
1591
255
293
1111
963
1136
637
561
171
177
520
574
593
523
475
102
165
225
573
767
647
462
171
188
372
506
759
582
582
166
150
373
367
66
441
428
152
247
369
381
437
444
711
105
124
458
657
601
637
542
269
195
271
378
687
591
562
185
178
979
2560
698
723
584
140
120
529
586
893
598
541
260
280
548
638
438
2322
1941
336
301
833
357
476
619
709
254
319
830
484
326
484
340
192
278
459
382
465
457
471
267
172
345
539
331
460
678
199
207
497
490
452
524
379
169
162
239
679
696
404
486
279
197
495
557
572
666
646
230
176
437
370
733
661
566
188
179
442
909
1055
618
797
307
251
609
622
905
750
524
158
152
407
729
1047
778
628
265
196
788
593
584
634
445
395
422
864
731
623
2695
1722
366
436
725
726
694
561
501
196
150
480
432
546
1047
613
165
384
1124
838
592
937
770
312
283
1014
925
1533
473
658
217
385
1845
931
751
931
701
175
308
1155
961
661
721
606
424
166
796
611
1245
919
595
303
261
510
545
547
580
419
171
207
197
659
780
999
927
247
234
291
1459
889
1531
1041
435
360
725
514
708
2374
883
317
331
332
493
653
676
493
305
237
728
708
683
568
599
263
289
673
791
748
2672
2012
401
305
536
615
630
547
581
149
201
676
650
618
1411
680
261
209
396
756
605
522
443
225
194
631
881
778
599
728
264
291
481
543
684
428
400
193
184
299
296
463
461
484
174
198
432
1494
587
813
383
354
171
523
817
2153
716
953
233
174
565
931
1841
1881
550
207
274
755
592
686
529
262
143
135
725
504
1527
948
488
558
266
656
757
703
2471
2412
436
395
918
535
546
483
522
276
226
1281
1508
936
596
155
315
691
1337
817
1000
631
438
215
202
631
598
751
1651
746
315
208
575
8
1045
637
690
188
241
1118
987
803
587
1351
374
343
1158
811
411
920
10162
1347
711
2631
1456
1301
980
924
389
485
553
841
1063
864
777
551
331
679
1025
701
812
895
311
411
1602
1224
1056
803
905
436
303
1143
1164
936
1241
1040
420
494
1053
710
896
3924
1558
268
369
865
832
803
725
415
153
224
485
615
640
725
788
196
362
1202
1794
1385
857
1281
195
281
737
542
717
1552
1072
258
507
904
282
3002
647
1042
219
345
119
453
470
847
1669
1081
713
2689
852
1058
915
673
305
349
912
1074
747
573
660
339
232
972
133
1874
728
661
197
181
491
914
706
999
1402
276
266
618
749
899
858
815
366
263
564
661
25
838
573
507
461
1015
966
1559
106
4111
798
503
865
547
718
674
806
292
341
737
582
584
658
628
158
410
746
784
898
337
772
375
270
812
642
198
281
765
462
341
1240
1055
1188
939
935
147
234
691
866
767
545
733
210
208
456
408
320
391
1201
221
186
658
429
354
547
447
257
156
167
576
620
908
939
276
250
192
845
768
774
1090
321
189
362
730
659
805
941
377
320
379
732
570
1203
1099
312
603
1052
1057
891
709
1141
791
343
966
1939
1124
2644
802
470
545
895
654
650
702
1245
415
262
118
755
773
722
1150
264
404
335
792
1069
848
794
397
445
816
995
995
717
742
256
374
701
802
821
883
1132
513
425
1862
860
761
932
973
357
438
1001
1093
1320
843
1167
265
392
635
1305
2230
2494
505
643
489
1672
2599
1527
1151
1137
583
547
895
765
1019
813
1137
436
559
1114
877
1371
459
1029
648
337
813
863
474
3223
3281
260
344
761
880
781
248
576
279
351
823
706
792
664
579
311
304
719
805
807
534
597
286
277
462
799
949
665
751
256
279
219
695
1044
1040
897
298
422
772
1239
1173
887
512
324
256
564
657
690
1323
816
260
293
559
699
472
348
649
254
341
748
553
541
1696
828
462
268
683
408
289
493
550
303
298
689
635
609
1313
1180
473
365
2511
1513
1242
920
938
731
293
965
644
1004
4482
398
530
335
871
836
840
910
183
266
200
470
527
705
487
443
181
189
634
790
206
719
695
216
232
505
506
576
534
431
221
293
552
732
2039
370
1086
375
321
317
2511
1407
914
556
456
265
633
956
693
737
647
344
257
882
686
1051
909
47
269
261
816
1245
823
916
562
174
225
538
1328
1095
1330
759
350
213
1300
854
2142
388
910
306
241
705
749
584
679
602
591
333
785
928
1271
2068
3188
454
391
2607
2035
900
1055
772
351
272
1127
797
964
887
768
237
183
790
1693
1044
1032
687
312
186
975
1484
187
355
893
294
236
961
864
1342
837
1356
815
421
1229
955
379
1076
1252
289
225
594
510
816
612
691
173
231
797
864
778
880
509
290
201
1601
258
1186
733
798
264
319
411
381
1005
996
1002
352
373
1257
1067
2059
1371
995
486
321
641
947
966
170
854
463
308
248
711
877
717
663
975
394
721
828
919
187
2488
456
284
747
790
605
839
1477
156
268
777
966
461
2666
727
495
427
333
1097
813
768
665
342
388
638
93
656
721
1035
424
255
1137
847
959
974
809
337
314
65
748
747
812
1173
395
246
987
1222
840
1005
745
291
337
809
370
758
825
873
172
273
878
882
531
974
926
200
296
859
824
650
1089
774
233
240
801
731
719
607
227
366
179
696
1168
202
95
517
236
296
779
1213
651
859
1883
800
372
870
933
745
819
851
259
289
1028
799
1019
1017
417
175
189
453
558
968
290
728
254
265
286
686
748
1179
955
215
83
980
935
674
392
1463
525
508
821
895
393
648
587
269
349
598
748
26
281
653
259
226
591
785
456
635
440
271
342
543
911
633
443
285
263
325
926
1080
1085
1053
935
421
476
45
371
488
849
719
718
290
549
1217
1061
1931
1284
394
358
786
929
766
1001
935
453
300
750
605
747
620
501
237
206
482
581
584
686
577
214
296
538
681
801
753
922
407
344
264
712
760
842
880
357
353
388
927
822
896
816
385
325
581
666
512
642
467
351
250
625
488
484
678
625
246
263
718
300
749
685
815
182
204
574
572
436
322
368
144
184
335
440
388
448
484
164
198
172
628
539
513
496
745
276
419
91
592
2957
2294
604
275
722
611
613
394
523
180
194
492
493
398
605
586
209
185
477
529
743
900
1034
330
342
789
607
626
396
514
209
247
614
749
851
385
500
219
283
789
983
709
848
708
310
431
646
52
744
660
599
313
233
954
1162
944
816
752
287
315
453
400
139
1980
1613
697
445
771
715
7

In [10]:
data_smedia_sum['total_count_tweet'] = total

In [11]:
data_smedia_sum

,tweet_id,post_date,comment_num,retweet_num,like_num,Subjuctivity,Polarity,Class_sentiment_negative,Class_sentiment_neutral,Class_sentiment_positive,tweet_count,total_count_tweet
date,,,,,,,,,,,,
2015-01-01,7.102568e+19,183193554413,45,699,190,59.508095,-37.266429,55,59,15,129,828
2015-01-02,9.312153e+19,240015013196,10,371,88,44.106540,3.825316,35,89,45,169,540
2015-01-03,3.859312e+19,99419765892,3,11,52,12.579978,3.455700,10,45,15,70,81
2015-01-04,4.579198e+19,117890962207,3,24,43,16.978333,4.842500,8,58,17,83,107
2015-01-05,1.540317e+20,396308980682,14,53,130,56.148954,22.619850,22,186,71,279,332
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-28,2.349124e+20,306041457501,144,503,1393,65.543312,21.729725,27,82,85,194,697
2019-12-29,1.841121e+20,239798650116,62,293,580,50.266318,18.140458,13,56,83,152,445
2019-12-30,6.252208e+20,814103099561,142,255,1334,168.356250,57.430292,62,211,243,516,771
2019-12-31,5.829812e+20,758923174515,160,234,1037,159.315592,51.076145,79,181,221,481,715
2020-01-01,7.272935e+18,9467012719,0,1,6,1.486508,0.842857,0,2,4,6,7

In [12]:
data_smedia_sum.reset_index(inplace = True)
data_smedia_sum

,date,tweet_id,post_date,comment_num,retweet_num,like_num,Subjuctivity,Polarity,Class_sentiment_negative,Class_sentiment_neutral,Class_sentiment_positive,tweet_count,total_count_tweet
0,2015-01-01,7.102568e+19,183193554413,45,699,190,59.508095,-37.266429,55,59,15,129,828
1,2015-01-02,9.312153e+19,240015013196,10,371,88,44.106540,3.825316,35,89,45,169,540
2,2015-01-03,3.859312e+19,99419765892,3,11,52,12.579978,3.455700,10,45,15,70,81
3,2015-01-04,4.579198e+19,117890962207,3,24,43,16.978333,4.842500,8,58,17,83,107
4,2015-01-05,1.540317e+20,396308980682,14,53,130,56.148954,22.619850,22,186,71,279,332
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,2019-12-28,2.349124e+20,306041457501,144,503,1393,65.543312,21.729725,27,82,85,194,697
1823,2019-12-29,1.841121e+20,239798650116,62,293,580,50.266318,18.140458,13,56,83,152,445
1824,2019-12-30,6.252208e+20,814103099561,142,255,1334,168.356250,57.430292,62,211,243,516,771
1825,2019-12-31,5.829812e+20,758923174515,160,234,1037,159.315592,51.076145,79,181,221,481,715
1826,2020-01-01,7.272935e+18,9467012719,0,1,6,1.486508,0.842857,0,2,4,6,7

In [13]:
data_smedia_sum.to_csv('3.amazon_twitter_data_aggregated.csv',index=False)